# .ebextensions/01_flask.config

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_run_app:
    command: "source /var/app/venv/*/bin/activate && python3 app.py"
    leader_only: true
